body{

background:#0f0f0f;
color:white;
margin:0;
font-family:Poppins;

}

header{

text-align:center;
padding:60px 20px;

background:
linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
url("https://images.unsplash.com/photo-1517832606299-7ae9b720a186");

background-size:cover;

}

h1{

font-family:"Playfair Display";
font-size:60px;
letter-spacing:2px;

}

.rojo{

color:#ff3b3b;

}

.subtitulo{

opacity:0.8;

}


.galeria{

text-align:center;
padding:60px 20px;

}

.contenedor-fotos{

display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;

}

.foto{

position:relative;
padding:10px;
border:2px solid #ff3b3b;
border-radius:10px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(6px);

}

.foto img{

width:300px;
border-radius:6px;

}

.reservar{

text-align:center;
padding:50px;

}

.boton{

background:#ff3b3b;
padding:15px 35px;
border-radius:30px;

text-decoration:none;
color:white;

font-weight:600;

}

.boton:hover{

background:#ff5c5c;

}

footer{

text-align:center;
padding:40px;
font-size:14px;
opacity:0.8;

}
